<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#3ed2a7">
	
	<link rel="shortcut icon" href="./favicon.png" />
	
	<title>Registration Successful || TLW</title>
	
	<link rel="stylesheet" href="https://use.typekit.net/qxb8htk.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	
	<link rel="stylesheet" href="/ave/assets/vendors/liquid-icon/liquid-icon.min.css" />
	<link rel="stylesheet" href="/ave/assets/vendors/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/ave/assets/css/theme-vendors.min.css" />
	<link rel="stylesheet" href="/ave/assets/css/theme.min.css" />
	<link rel="stylesheet" href="/ave/assets/css/themes/original.css" />
	
	<!-- Head Libs -->
	<script async src="/assets/vendors/modernizr.min.js"></script>
	
</head>
<body data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="modern" data-mobile-nav-shceme="gray" data-mobile-header-scheme="gray" data-mobile-nav-breakpoint="1199">
	
	<div id="wrap">
	
		<main id="content" class="content">

			<section class="vc_row pt-75 pb-75">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-2 col-md-offset-3">

						</div><!-- /.col-md-2 col-md-offset-3 -->

						<div class="lqd-column col-md-2">

							<div class="iconbox iconbox-round iconbox-shadow iconbox-heading-xs iconbox-filled d-inline-flex iconbox-green px-2 w-100" data-plugin-options='{"color": "#28d5a7"}'>
								
								<div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
                    <i class="fas fa-check" style="color: #0ac493; font-size: 100px;"></i>
									</span>
								</div><!-- /.iconbox-icon-wrap -->

							</div><!-- /.iconbox -->

						</div><!-- /.col-md-2 -->

						<div class="lqd-column col-md-2">

						</div><!-- /.col-md-2 -->

					</div><!-- /.row -->
          <div class="row">

						<div class="lqd-column col-md-8 col-md-offset-2">

							<header class="fancy-title text-center px-md-7 mb-10">
								<h2 class="title h1">Interview Date</h2>
								<p class="font-size-20 lh-14">We'd be expecting you!</p>
                <a href="http://tlw.mindmachineonline.org" class="btn btn-default text-uppercase btn-lg circle btn-bordered border-thin font-size-12 lh-15 font-weight-bold ltr-sp-05 mb-2 __web-inspector-hide-shortcut__">
								<span>
									<span class="btn-txt">Go back home</span>
								</span>
							</a>
							</header>

						</div><!-- /.col-md-8 col-md-offset-2 -->

					</div>
				</div><!-- /.container -->
			</section>
			
		</main><!-- /#content.content -->
		
	</div><!-- /#wrap -->

	<script src="/ave/assets/vendors/jquery.min.js"></script>
	<script src="/ave/assets/js/theme-vendors.js"></script>
	<script src="/ave/assets/js/theme.min.js"></script>
	<script src="/ave/assets/js/liquidAjaxMailchimp.min.js"></script>

</body>
</html>